// Main colors
$red: #ed6a5a;
$teal: #9bc1bc;
$blue: #5ca4a9;
$white: #e6ebe0;
$black: #282a36;

// Fonts
$fancy-font: "Silkscreen", cursive;
$code-font: "JetBrains Mono", monospace;
$font: "Ubuntu", sans-serif;
$font-black: #000000;
$font-white: #e6ebe0;
